In [29]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime, date

## Group Assignment
### Team Number: 11
### Team Member Names: Jeffrey, Ray, Baldeep
### Team Strategy Chosen: RISKY (RISKY OR SAFE)

# Initialization of Variables

In [30]:
# List of Tickers to Choose From
ticker_list = pd.read_csv("Tickers.csv")

# Initial Capital (CAD)
capital = 750000

# Trading Fee
trading_fee = 4.95

# Restrictions
avg_month_vol = 150000
min_month_days = 18
currency = ['USD', 'CAD']

# Number of stocks in our Portfolio
num_stocks = 10

# Minimum weight for each stock in the portfolio (in decimals)
min_weight = 1 / (2 * num_stocks)

# Maximum weight for each stock in the portfolio (in decimals)
max_weight = 0.2

# Day that we will purchase stocks for our portfolio
purchase_date = '2023-11-25'

In [31]:
# Portfolios
Portfolio_Final = pd.DataFrame()
Stocks_Final = pd.DataFrame()

# Filtering the tickers

## Before creating our portfolio of stocks, we must first create a filter function to filter out unwanted tickers for this assignment. 

## We have to consider:
### 1) Are the stocks delisted?
### 2) Are the stocks denominated in USD or CAD?
### 3) Do the months have at least 18 trading days?
### 4) Do the stocks have an average monthly volume of at least 150 000 shares? 


### 1) 
To do this, we loop through every ticker in the ticker_lst and check if calling fast_info produces an error. If it produces an error, we know the stock is delisted, so we don't add that ticker to the new ticker list. 

### 2) 
We get the fast_info of the stock and check if the currency is either USD or CAD. If it is, we add it to the new ticker list. 

### 3) 
We use a stock index from the TSX and another from the NYSE and concat the historical data together such that only the days that appear in both are kept. Then, we loop through every month and count the total number of days. If the number of days is less than 18, then we add it to a list and remove the month from the dataframes later. 

### 4) 
Using the historical data, we calculate the average monthly volume for each stock by looping through all the valid stocks and then using the mean function. If the average monthly volume is less than 150 000, then we remove the stock from the stock list.

In [32]:
#define start date and end date variables
start_date = '2023-01-01'
end_date = '2023-10-31'

#define holder variables
stock_hist_data = []
invalid_months = []

#produce a list of all the tickers
ticker_lst = ticker_list[ticker_list.columns[0]]

#filter stocks variable 
def filter_stocks(ticker_lst):
    new_ticker_lst=[]
    
    #loop through every ticker in the ticker_lst and check if it is listed and has a currency of USD or CAD
    for cur_ticker in ticker_lst:
        info = yf.Ticker(cur_ticker).fast_info
        try:
            #check if the currency is USD or CAD
            if(info.currency == 'USD' or info.currency == 'CAD'):
                new_ticker_lst.append(cur_ticker)
        except:
            #output a statement if the stock is delisted
            print(f"{cur_ticker} is not a valid ticker")
    
    #get the historical data of each ticker and add it to a list
    for cur_ticker in new_ticker_lst:
        temp_ticker = yf.Ticker(cur_ticker)
        hist = temp_ticker.history(start=start_date, end=end_date, interval = '1mo')
        stock_hist_data.append(hist)
    
    cad_index = '^GSPTSE' #S&P/TSX Composite Index (CAD)
    usa_index = '^GSPC' #S&P500 Composite Index (USD)
    
    #loop through every month and check if the month has less than 18 trading days
    for cur_month in range(1, 11):
        #get the historical dataframes of the two indexes
        cad_days = yf.Ticker(cad_index).history(start = str(date(2023, cur_month, 1)), end = str(date(2023, cur_month+1, 1)))
        usd_days = yf.Ticker(usa_index).history(start = str(date(2023, cur_month, 1)), end = str(date(2023, cur_month+1, 1)))
        #merge the two dataframes and only keep the duplicates
        total_days = cad_days.reindex(usd_days.index)
        num_days = len(total_days)
        if num_days < min_month_days:
            invalid_months.append(cur_month)
            
    #remove the months that have less than 18 trading days
    for i in range(len(stock_hist_data)):
        cur_hist = stock_hist_data[i]
        for month in invalid_months:
            if month < 10:
                cur_hist.filter(like!=f'2023-0{month}', axis=0)
            else:
                cur_hist.filter(like != f'2023-{month}', axis=0)
    #Calculate the average monthly volume for each stock and remove the stock if it is less than 150 000
    for i in range(len(new_ticker_lst)): 
        cur_ticker = new_ticker_lst[i]
        cur_hist = stock_hist_data[i]
        avgMonthlyVolume = cur_hist['Volume'].mean()
        #check if the average monthly volume is less than 150 000 and remove the stock if it is
        if avgMonthlyVolume < avg_month_vol:
            new_ticker_lst.remove(cur_ticker)
            stock_hist_data.remove(cur_hist)
    return new_ticker_lst

#call the function
filtered_ticker_lst = filter_stocks(ticker_lst)
filtered_ticker_lst

AGN is not a valid ticker
CELG is not a valid ticker
MON is not a valid ticker
RTN is not a valid ticker

['ABBV',
 'ABT',
 'ACN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CL',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MRK',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RY.TO',
 'SHOP.TO',
 'T.TO',
 'TD.TO',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

# Computing Historical Data

The first step in selecting our stocks for the portfolio is to compute the historical data for each stock. 


We decided to pull our data starting from January 2022 until the present. We chose to start from 2022 because we know COVID-19 ended in 2021 and it heavily affected the stock market and its prices. Thus, by avoiding that period of time, our data will be much more reliable and accurate for predicting the future prices. 

Also, we decided to take the weekly prices of the stocks as taking the daily prices would create too much variation and volatility and taking the monthly prices wouldn't give us enough data. Thus, taking the weekly prices appeared to be a good medium. 

In addition, since our stocks consist of both CAD and USD stocks, we converted the USD stocks into CAD by dividing the price of the USD stock by the exchange rate (USD to CAD) of the same day. 

After converting the USD stocks to CAD, we took the weekly percent changes of each stock and stored them in a dataframe to be used for other calculations.

In [38]:
#define start date and end date
compute_start_date = '2022-01-01'
compute_end_date = '2023-11-23'

#get the exchange rate for the compute start date
cad_usd = yf.Ticker('CADUSD=X')
cad_usd_hist = cad_usd.history(start=compute_start_date, end=compute_end_date, interval = '1wk')
cad_usd_hist.index = pd.DatetimeIndex(cad_usd_hist.index).tz_localize(None, ambiguous='infer').tz_localize('UTC')

print(cad_usd_close)

weekly_pct_change = pd.DataFrame()

#loop through each ticker and add the percent change of the weekly closing price to the dataframe
for ticker in filtered_ticker_lst:
    hist = yf.Ticker(ticker).history(start=compute_start_date, end=compute_end_date, interval = '1wk')
    hist.index = pd.DatetimeIndex(hist.index).tz_localize(None, ambiguous='infer').tz_localize('UTC')
    temp_currency = yf.Ticker(ticker).fast_info['currency']
    #convert the USD close prices to CAD
    if temp_currency == 'USD':
        hist['Close'] = hist['Close']/cad_usd_hist['Close']
    weekly_pct_change[ticker] = hist.Close.pct_change()

#drop the NaN values
weekly_pct_change = weekly_pct_change.dropna()

#output the weekly percent changes of each stock
weekly_pct_change

Date
2022-01-01 00:00:00+00:00    0.785534
2022-01-08 00:00:00+00:00    0.799501
2022-01-15 00:00:00+00:00    0.799981
2022-01-22 00:00:00+00:00    0.784578
2022-01-29 00:00:00+00:00    0.788737
                               ...
2023-10-21 00:00:00+01:00    0.723903
2023-10-28 00:00:00+01:00    0.727431
2023-11-04 00:00:00+00:00    0.724270
2023-11-11 00:00:00+00:00    0.727162
2023-11-18 00:00:00+00:00    0.730327
Name: Close, Length: 99, dtype: float64

,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BIIB,BK,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.010259,-0.071105,-0.063556,0.001456,-0.019985,-0.048783,0.030220,-0.042843,0.010831,0.002549,...,0.027623,0.039083,-0.044331,0.005394,0.032304,0.023979,0.004147,-0.050288,-0.069803,0.018771
2022-01-15 00:00:00+00:00,-0.019139,-0.015308,-0.048284,-0.074695,-0.120765,-0.057929,-0.091358,-0.062971,-0.079031,-0.101482,...,-0.126445,-0.017924,-0.196567,-0.014085,-0.021081,-0.061362,-0.016635,-0.000356,-0.022810,-0.129376
2022-01-22 00:00:00+00:00,0.065522,0.015742,0.041565,0.013228,0.029174,0.137306,-0.054171,0.041195,0.041317,0.042813,...,0.031254,-0.010162,0.003224,0.016667,-0.000897,0.029210,0.030443,0.017976,0.000950,0.074777
2022-01-29 00:00:00+00:00,0.014417,0.029327,0.008219,0.065106,0.089113,0.044110,0.077617,0.046990,-0.021527,0.057530,...,0.070222,0.034432,0.003824,0.031114,0.053987,-0.031838,0.031246,-0.019591,0.127893,0.022473
2022-02-05 00:00:00+00:00,0.013930,-0.028452,-0.048722,0.000103,-0.023466,0.036424,0.032675,-0.003268,-0.027240,0.012668,...,-0.078761,-0.004221,-0.025656,0.024335,0.020735,-0.036905,-0.006255,-0.010612,-0.046262,-0.015125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-21 00:00:00+00:00,-0.043084,-0.033704,-0.016407,0.007365,0.027876,0.005346,0.005238,-0.036445,-0.082511,0.006471,...,-0.012924,-0.022881,-0.082026,-0.004973,-0.032397,-0.024762,0.002667,-0.038650,-0.106342,-0.002247
2023-10-28 00:00:00+00:00,0.012986,0.027196,0.075609,0.065528,0.079754,0.075784,0.080216,0.123646,0.058715,0.092650,...,0.117230,0.083128,0.306294,0.101772,0.063288,0.044588,0.006986,0.046506,0.054417,0.152672
2023-11-04 00:00:00+00:00,-0.015734,-0.015232,0.024228,0.005625,0.040307,0.015016,0.012603,-0.021787,-0.095106,0.013465,...,0.043776,0.006290,0.007257,-0.018969,0.012102,-0.006939,0.023869,0.001334,-0.029030,-0.032142
2023-11-11 00:00:00+00:00,-0.006060,0.055168,0.021385,0.006324,0.007263,0.048799,0.053714,0.078786,0.010247,0.029617,...,0.038203,0.031769,0.108657,0.018075,0.034407,0.046302,-0.013031,0.032382,0.079703,0.096209
2023-11-18 00:00:00+00:00,-0.003110,0.027171,0.011763,0.003232,0.006159,0.003200,0.052475,-0.015958,0.009859,-0.003912,...,-0.019484,-0.015188,0.030148,-0.007432,-0.019226,-0.008777,0.009535,0.015106,0.014304,-0.025760

## Standard Deviation

In creating a risky portfolio, we require a group of stock tickers that are unpredictable and have a high varience when compared to their mean values. These tickers would have large periods of unprecedented growhth and loss, and would be an investors greatest dream come true, or worst nightmare, depending on the performance ot the stock. For the purposes of our portfolio, we are calculating the standard deviation of all of the filtered tickers, and moving forward with the 10 tickers with the highest standard deviations, as this will make up our portfolio of risky, volatile stocks. 

\begin{align*}
\sigma_X=\sqrt{\frac{\sum(x_i-\overline{X})^2}{N}}
\end{align*}

In [34]:
# Function to return the tickers of the firms with the ten highest standard deviations in the original ticker list
def highest_std(dataframe):
    
    # Setting variables
    temp_std = 0 
    list_of_stds = []
    list_of_ten_tickers = []
    
    # Looping through every column in the datafarme
    for x in dataframe.columns:
        temp_std = abs(dataframe[x].std())
        list_of_stds.append(temp_std)
    
    # Return a dataframe with the list of standard deviations
    global stds_dataframe
    stds_dataframe = pd.DataFrame(list_of_stds, index=dataframe.columns, columns=['std'])
    stds_dataframe.sort_values("std", inplace=True, ascending=False)
    
    for x in range (10):
        temp_ticker = (stds_dataframe.index[x])
        list_of_ten_tickers.append(temp_ticker)
        
    
    return list_of_ten_tickers

print(highest_std(weekly_pct_change))

['SHOP.TO', 'PYPL', 'BA', 'AMZN', 'BIIB', 'USB', 'QCOM', 'CAT', 'BLK', 'AXP']

## Correlation and Covarience

Since we have 10 tickers, then the minimum weight for each is 5% and the max is 20%. We want highest variance and
volatility of the stocks (risky strategy). So, loop through the 10 tickers found above with the highest standard
deviation, and for each (call this stock the base stock), find the 9 stocks that have the highest correlation to to
the base stock in decreasing order. (meaning that the first stock will have the highest correlation
to the base stock, the second stock will have the second highest correlation to the base stock, and so on.) Then,
put 20% in the base stock, the first stock, the second stock, 10% in the third stock, and 5% in the rest in order
to maximize the expected combined correlation (weight * correlation)

In [35]:
# To find which portfolio gives the best percent returns
pfl_pct_returns = []
expected_correlation = []

# Made into a function for future use
def correlation_pfl(tkr_lst, return_lst):
    
    '''
    From all the tickers in tkr_lst, finds the next 9 highest correlated stocks and creates a weighted portfolio. Then 
    using historical data from Jan 1, 2022 to Nov 21, 2023, find the portfolio average percent returns and appends the 
    value to the return_lst
    ''' 
    for i in tkr_lst:
        temp_df = pd.DataFrame()
        correlation = weekly_pct_change.corr()[i]
        correlation = correlation.sort_values(ascending=False)
        
        # List of largest correlation values to the base stock
        stock_lst = [k for k in (correlation.index[:10])]

        print(stock_lst)
        
        # To get the portfolio of each and calculate average percent returns
        for x in stock_lst:
            temp_df[x] = weekly_pct_change[x]
        
        # Finding the weighted returns of each stock in the portfolio
        count = 0
        for x in temp_df.columns:
            if count <= 2:
                temp_df[x] = temp_df[x] * 0.2
                count += 1
            elif count == 3:
                temp_df[x] = temp_df[x] * 0.1
                count += 1
            else:
                temp_df[x] = temp_df[x] * 0.05
                count += 1
                
        display(temp_df.head())
        
        # Finding the weighted average portfolio percent returns. Take absolute value of the average portfolio percent
        # returns since all we care about is maximum volatility and risk
        # (Increase or Decrease in Portfolio value does not matter)
        avg = temp_df.values.sum() / len(temp_df.index)
        return_lst.append(abs(avg))
        

# Running the Function
correlation_pfl(highest_std(weekly_pct_change), pfl_pct_returns)
    
# Now find the index of the highest average percent returns and make a portfolio
max_index = pfl_pct_returns.index(max(pfl_pct_returns))
print("-"*75)
print(f"The portfolio with the highest average percent returns is portfolio {max_index+1}")
print("-"*75)

# Make the portfolio with the corresponding base stock
pfl = pd.DataFrame()
base_stock = highest_std(weekly_pct_change)[max_index]
correlation = weekly_pct_change.corr()[base_stock]
correlation = correlation.sort_values(ascending=False)
stock_lst = [k for k in (correlation.index[:10])]

for y in stock_lst:
    pfl[y] = weekly_pct_change[y]
    
display(pfl.head())

['SHOP.TO', 'BLK', 'PYPL', 'AMZN', 'QCOM', 'AXP', 'RY.TO', 'ACN', 'TXN', 'UPS']

,SHOP.TO,BLK,PYPL,AMZN,QCOM,AXP,RY.TO,ACN,TXN,UPS
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.008866,-0.013112,-0.013110,-0.001998,0.001381,-0.002439,0.001954,-0.003178,0.001199,-0.003490
2022-01-15 00:00:00+00:00,-0.039313,-0.011350,-0.016790,-0.012076,-0.006322,-0.002896,-0.000896,-0.002414,-0.003068,-0.001140
2022-01-22 00:00:00+00:00,0.000645,0.005765,0.003901,0.002917,0.001563,0.006865,-0.000508,0.002078,0.001461,0.000048
2022-01-29 00:00:00+00:00,0.000765,-0.000641,-0.046606,0.008911,0.003511,0.002206,0.001722,0.000411,-0.001592,0.006395
2022-02-05 00:00:00+00:00,-0.005131,-0.008414,-0.016344,-0.002347,-0.003938,0.001821,-0.000211,-0.002436,-0.001845,-0.002313

['PYPL', 'BLK', 'SHOP.TO', 'TXN', 'AXP', 'ACN', 'QCOM', 'AMZN', 'C', 'ABT']

,PYPL,BLK,SHOP.TO,TXN,AXP,ACN,QCOM,AMZN,C,ABT
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.013110,-0.013112,-0.008866,0.002398,-0.002439,-0.003178,0.001381,-0.000999,-0.000015,-0.003555
2022-01-15 00:00:00+00:00,-0.016790,-0.011350,-0.039313,-0.006136,-0.002896,-0.002414,-0.006322,-0.006038,-0.002763,-0.000765
2022-01-22 00:00:00+00:00,0.003901,0.005765,0.000645,0.002921,0.006865,0.002078,0.001563,0.001459,0.002126,0.000787
2022-01-29 00:00:00+00:00,-0.046606,-0.000641,0.000765,-0.003184,0.002206,0.000411,0.003511,0.004456,0.000805,0.001466
2022-02-05 00:00:00+00:00,-0.016344,-0.008414,-0.005131,-0.003691,0.001821,-0.002436,-0.003938,-0.001173,0.001426,-0.001423

['BA', 'C', 'BAC', 'AIG', 'BK', 'BLK', 'UPS', 'AXP', 'USB', 'AMZN']

,BA,C,BAC,AIG,BK,BLK,UPS,AXP,USB,AMZN
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,0.006044,-0.000059,-0.008569,0.000146,0.000127,-0.003278,-0.003490,-0.002439,0.000939,-0.000999
2022-01-15 00:00:00+00:00,-0.018272,-0.011050,-0.012594,-0.007469,-0.005074,-0.002838,-0.001140,-0.002896,-0.006469,-0.006038
2022-01-22 00:00:00+00:00,-0.010834,0.008503,0.008239,0.001323,0.002141,0.001441,0.000048,0.006865,0.003739,0.001459
2022-01-29 00:00:00+00:00,0.015523,0.003220,0.009398,0.006511,0.002876,-0.000160,0.006395,0.002206,0.001124,0.004456
2022-02-05 00:00:00+00:00,0.006535,0.005704,-0.000654,0.000010,0.000633,-0.002104,-0.002313,0.001821,-0.000756,-0.001173

['AMZN', 'ACN', 'BLK', 'SHOP.TO', 'AXP', 'TXN', 'QCOM', 'UPS', 'BA', 'PYPL']

,AMZN,ACN,BLK,SHOP.TO,AXP,TXN,QCOM,UPS,BA,PYPL
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.003997,-0.012711,-0.013112,-0.004433,-0.002439,0.001199,0.001381,-0.003490,0.001511,-0.003277
2022-01-15 00:00:00+00:00,-0.024153,-0.009657,-0.011350,-0.019657,-0.002896,-0.003068,-0.006322,-0.001140,-0.004568,-0.004197
2022-01-22 00:00:00+00:00,0.005835,0.008313,0.005765,0.000322,0.006865,0.001461,0.001563,0.000048,-0.002709,0.000975
2022-01-29 00:00:00+00:00,0.017823,0.001644,-0.000641,0.000382,0.002206,-0.001592,0.003511,0.006395,0.003881,-0.011651
2022-02-05 00:00:00+00:00,-0.004693,-0.009744,-0.008414,-0.002566,0.001821,-0.001845,-0.003938,-0.002313,0.001634,-0.004086

['BIIB', 'BMY', 'PFE', 'LLY', 'MRK', 'SHOP.TO', 'ACN', 'PEP', 'UNH', 'RY.TO']

,BIIB,BMY,PFE,LLY,MRK,SHOP.TO,ACN,PEP,UNH,RY.TO
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,0.002166,0.004853,-0.006210,-0.007570,-0.000213,-0.002217,-0.003178,-0.000433,0.000207,0.001954
2022-01-15 00:00:00+00:00,-0.015806,-0.004399,-0.007977,-0.000494,-0.000890,-0.009828,-0.002414,-0.000434,-0.000832,-0.000896
2022-01-22 00:00:00+00:00,0.008263,0.008323,0.009875,0.002819,0.001568,0.000161,0.002078,0.000528,0.001522,-0.000508
2022-01-29 00:00:00+00:00,-0.004305,-0.000809,-0.004449,-0.001676,-0.001702,0.000191,0.000411,-0.000315,0.001562,0.001722
2022-02-05 00:00:00+00:00,-0.005448,0.006685,-0.007569,-0.002285,-0.001016,-0.001283,-0.002436,-0.000927,-0.000313,-0.000211

['USB', 'BK', 'BAC', 'AIG', 'C', 'AXP', 'RY.TO', 'TD.TO', 'BLK', 'QCOM']

,USB,BK,BAC,AIG,C,AXP,RY.TO,TD.TO,BLK,QCOM
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,0.003754,0.000510,-0.008569,0.000146,-0.000015,-0.002439,0.001954,0.001615,-0.003278,0.001381
2022-01-15 00:00:00+00:00,-0.025875,-0.020296,-0.012594,-0.007469,-0.002763,-0.002896,-0.000896,-0.001054,-0.002838,-0.006322
2022-01-22 00:00:00+00:00,0.014955,0.008563,0.008239,0.001323,0.002126,0.006865,-0.000508,-0.000045,0.001441,0.001563
2022-01-29 00:00:00+00:00,0.004495,0.011506,0.009398,0.006511,0.000805,0.002206,0.001722,0.002699,-0.000160,0.003511
2022-02-05 00:00:00+00:00,-0.003025,0.002534,-0.000654,0.000010,0.001426,0.001821,-0.000211,0.001037,-0.002104,-0.003938

['QCOM', 'TXN', 'AXP', 'BLK', 'SHOP.TO', 'ACN', 'C', 'USB', 'PYPL', 'AMZN']

,QCOM,TXN,AXP,BLK,SHOP.TO,ACN,C,USB,PYPL,AMZN
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,0.005525,0.004796,-0.009757,-0.006556,-0.002217,-0.003178,-0.000015,0.000939,-0.003277,-0.000999
2022-01-15 00:00:00+00:00,-0.025289,-0.012272,-0.011586,-0.005675,-0.009828,-0.002414,-0.002763,-0.006469,-0.004197,-0.006038
2022-01-22 00:00:00+00:00,0.006251,0.005842,0.027461,0.002882,0.000161,0.002078,0.002126,0.003739,0.000975,0.001459
2022-01-29 00:00:00+00:00,0.014044,-0.006368,0.008822,-0.000320,0.000191,0.000411,0.000805,0.001124,-0.011651,0.004456
2022-02-05 00:00:00+00:00,-0.015752,-0.007381,0.007285,-0.004207,-0.001283,-0.002436,0.001426,-0.000756,-0.004086,-0.001173

['CAT', 'AIG', 'BK', 'BAC', 'BLK', 'USB', 'TD.TO', 'AXP', 'C', 'RY.TO']

,CAT,AIG,BK,BAC,BLK,USB,TD.TO,AXP,C,RY.TO
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,0.000669,0.000291,0.000510,-0.004284,-0.003278,0.000939,0.001615,-0.002439,-0.000015,0.001954
2022-01-15 00:00:00+00:00,-0.013085,-0.014939,-0.020296,-0.006297,-0.002838,-0.006469,-0.001054,-0.002896,-0.002763,-0.000896
2022-01-22 00:00:00+00:00,-0.007460,0.002646,0.008563,0.004120,0.001441,0.003739,-0.000045,0.006865,0.002126,-0.000508
2022-01-29 00:00:00+00:00,-0.003774,0.013021,0.011506,0.004699,-0.000160,0.001124,0.002699,0.002206,0.000805,0.001722
2022-02-05 00:00:00+00:00,0.003709,0.000021,0.002534,-0.000327,-0.002104,-0.000756,0.001037,0.001821,0.001426,-0.000211

['BLK', 'ACN', 'BAC', 'AXP', 'TXN', 'PYPL', 'SHOP.TO', 'C', 'UPS', 'BK']

,BLK,ACN,BAC,AXP,TXN,PYPL,SHOP.TO,C,UPS,BK
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.013112,-0.012711,-0.008569,-0.004878,0.001199,-0.003277,-0.002217,-0.000015,-0.003490,0.000127
2022-01-15 00:00:00+00:00,-0.011350,-0.009657,-0.012594,-0.005793,-0.003068,-0.004197,-0.009828,-0.002763,-0.001140,-0.005074
2022-01-22 00:00:00+00:00,0.005765,0.008313,0.008239,0.013731,0.001461,0.000975,0.000161,0.002126,0.000048,0.002141
2022-01-29 00:00:00+00:00,-0.000641,0.001644,0.009398,0.004411,-0.001592,-0.011651,0.000191,0.000805,0.006395,0.002876
2022-02-05 00:00:00+00:00,-0.008414,-0.009744,-0.000654,0.003642,-0.001845,-0.004086,-0.001283,0.001426,-0.002313,0.000633

['AXP', 'BAC', 'BLK', 'USB', 'C', 'BK', 'AIG', 'ACN', 'QCOM', 'TD.TO']

,AXP,BAC,BLK,USB,C,BK,AIG,ACN,QCOM,TD.TO
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.009757,-0.008569,-0.013112,0.001877,-0.000015,0.000127,0.000073,-0.003178,0.001381,0.001615
2022-01-15 00:00:00+00:00,-0.011586,-0.012594,-0.011350,-0.012938,-0.002763,-0.005074,-0.003735,-0.002414,-0.006322,-0.001054
2022-01-22 00:00:00+00:00,0.027461,0.008239,0.005765,0.007478,0.002126,0.002141,0.000661,0.002078,0.001563,-0.000045
2022-01-29 00:00:00+00:00,0.008822,0.009398,-0.000641,0.002247,0.000805,0.002876,0.003255,0.000411,0.003511,0.002699
2022-02-05 00:00:00+00:00,0.007285,-0.000654,-0.008414,-0.001512,0.001426,0.000633,0.000005,-0.002436,-0.003938,0.001037

---------------------------------------------------------------------------
The portfolio with the highest average percent returns is portfolio 2
---------------------------------------------------------------------------

,PYPL,BLK,SHOP.TO,TXN,AXP,ACN,QCOM,AMZN,C,ABT
Date,,,,,,,,,,
2022-01-08 00:00:00+00:00,-0.065549,-0.065558,-0.044331,0.023979,-0.048783,-0.063556,0.027623,-0.019985,-0.000293,-0.071105
2022-01-15 00:00:00+00:00,-0.083948,-0.056752,-0.196567,-0.061362,-0.057928,-0.048284,-0.126445,-0.120765,-0.055251,-0.015308
2022-01-22 00:00:00+00:00,0.019507,0.028823,0.003224,0.029210,0.137306,0.041565,0.031254,0.029174,0.042516,0.015742
2022-01-29 00:00:00+00:00,-0.233028,-0.003204,0.003824,-0.031838,0.044110,0.008219,0.070222,0.089113,0.016101,0.029327
2022-02-05 00:00:00+00:00,-0.081722,-0.042072,-0.025656,-0.036905,0.036424,-0.048722,-0.078761,-0.023466,0.028518,-0.028452

# Stock Allocation

In [36]:
top_std_stocks = highest_std(weekly_pct_change)

top_corr_stocks = []

for ticker in top_std_stocks:
    temp_df2 = weekly_pct_change.copy(deep=True)
    correlation2 = weekly_pct_change.corr()[ticker]
    correlation2 = correlation2.sort_values(ascending=False)
    for k in range(10, correlation2.size):
        correlation2 = correlation2.drop(correlation2.index[10])
    correlation2 = correlation2.drop(correlation2.index[0])
    top_corr_stocks.append(correlation2)

top_corr_stocks

[BLK      0.608818
 PYPL     0.603645
 AMZN     0.519518
 QCOM     0.510504
 AXP      0.482764
 RY.TO    0.473315
 ACN      0.462389
 TXN      0.454302
 UPS      0.424627
 Name: SHOP.TO, dtype: float64,
 BLK        0.619452
 SHOP.TO    0.603645
 TXN        0.527185
 AXP        0.482767
 ACN        0.482215
 QCOM       0.470790
 AMZN       0.408960
 C          0.389375
 ABT        0.354033
 Name: PYPL, dtype: float64,
 C       0.552100
 BAC     0.525062
 AIG     0.522148
 BK      0.505604
 BLK     0.491374
 UPS     0.448007
 AXP     0.445363
 USB     0.428864
 AMZN    0.419725
 Name: BA, dtype: float64,
 ACN        0.554395
 BLK        0.540228
 SHOP.TO    0.519518
 AXP        0.504472
 TXN        0.498012
 QCOM       0.468460
 UPS        0.460358
 BA         0.419725
 PYPL       0.408960
 Name: AMZN, dtype: float64,
 BMY        0.354599
 PFE        0.296502
 LLY        0.292086
 MRK        0.244198
 SHOP.TO    0.207745
 ACN        0.207375
 PEP        0.203499
 UNH        0.199451
 RY.TO      0.188717
 Name: BIIB, dtype: float64,
 BK       0.718401
 BAC      0.715707
 AIG      0.647570
 C        0.636412
 AXP      0.623484
 RY.TO    0.558308
 TD.TO    0.536967
 BLK      0.507390
 QCOM     0.474874
 Name: USB, dtype: float64,
 TXN        0.565725
 AXP        0.545211
 BLK        0.513960
 SHOP.TO    0.510504
 ACN        0.501443
 C          0.477247
 USB        0.474874
 PYPL       0.470790
 AMZN       0.468460
 Name: QCOM, dtype: float64,
 AIG      0.495545
 BK       0.480866
 BAC      0.480125
 BLK      0.446044
 USB      0.425918
 TD.TO    0.420813
 AXP      0.420170
 C        0.396727
 RY.TO    0.382776
 Name: CAT, dtype: float64,
 ACN        0.745938
 BAC        0.672228
 AXP        0.635133
 TXN        0.624242
 PYPL       0.619452
 SHOP.TO    0.608818
 C          0.606991
 UPS        0.564917
 BK         0.562868
 Name: BLK, dtype: float64,
 BAC      0.682033
 BLK      0.635133
 USB      0.623484
 C        0.621430
 BK       0.593310
 AIG      0.573790
 ACN      0.567316
 QCOM     0.545211
 TD.TO    0.533027
 Name: AXP, dtype: float64]

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.